body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1e1e1e;
    color: #d4d4d4;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}

h1, .heading {
    display: flex;
    justify-content: center;
}

.section {
    background-color: #252526;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
    max-width: 75%;
}

.section h2 {
    font-size: 20px;
}

.section p {
    margin-top: 0;
}

a {
  color: #007acc
}

h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #569cd6;
}

label {
    display: block;
    font-weight: bold;
    font-size: large;
    margin: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3e3e3e;
    color: #f1f1f1;
}

button {
    padding: 10px 15px;
    background-color: #007acc;
    border: none;
    border-radius: 5px;
    color: #f1f1f1;
    cursor: pointer;
    margin-right: 10px;
    max-width: fit-content;
}

button:hover {
    background-color: #005f9e;
}

button:hover .donate-button {
    color: red;
}

#modelSelect {
    max-width: fit-content;
    display: flex;
}

#status {
    font-style: italic;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
    max-width: 75%;
}

#about-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 20px;
}

#about-section h2 {
    margin-top: 0;
    color: #333;
}

#donate-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#donate-button:hover {
    background-color: #218838;
}

#clearStorage {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

#clearStorage:hover {
    background-color: #c82333;
}